
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;


  img {
    margin-bottom: 10px;
  }
}

.blockTitle {
  color: #5775CD;
  background-color: #FFC849;
  border-radius: 15px;
  width: 685px;
  height: 222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}





