@mixin popup ($max-width) {
    width: 100vw;
    height: 100vh;
    // background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: 98 !important;
    top: 0;
    left: 0;
    padding-top: 18.5rem;
    padding-bottom: 18.5rem;
    transform: scale(0);
    &__container{
      position: relative;
      margin: auto;
      max-width: $max-width;
      width: 100%;
      opacity: 1;
    //   border-radius: 1rem;
    }
    &.active {
        transform: scale(1);
    }
}

@mixin container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
       position: relative;
    z-index: 1;
    &__img {
        margin-bottom: 10px;
    }
}  

@mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 245, 245, 0.5); // Полупрозрачный фон
    display: flex;
    justify-content: center;
    // align-items: center;
}


@mixin input {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 20px;
    background: #FFF;
    padding: 15px;
    border: none;
}

@mixin button {
    border-radius: 20px;
	background-color: #6C7FBD;
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 7px 33px 6px 48px;
}