.container {
  border-radius: 20px;
  background: #A08DFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //width: 50%;
  text-align: left;
  padding: 39px 29px;

  .btnSubmit {
	color: #5775CD;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 20px;
	background: #FFC849;

  }

  .rightColumn {

	justify-items: right;
  }

  .block {
	display: flex;
	//gap: 150px;
	justify-content: space-around;
  }

  h3 {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  }

  .addPhoto {
	width: 160px;
	height: 160px;
	border-radius: 20px;
	background: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	text-align: center;
	margin-bottom: 30px;

	.profileImg {
	  overflow: hidden;
	  //object-fit: cover;
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;


	}

	p {
	  color: #5775CD;
	  font-size: 20px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: normal;
	}
  }

  label {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  }

  input, select {
	border-radius: 20px;
	background: #FFF;
	border: none;
	padding: 5px;
	//margin-bottom: 5px;
	height: 31px;

  }

  .rightInput input {

	display: flex;
	flex-direction: column;
	text-align: left;
  }

  button {
	color: #5775CD;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 20px;
	background: #FFF;
	padding: 5px 40px;
	border: none;
	width: 179px;
  }

  .selectedGender {
	color: #FFF;
	background: #5775CD;
  }

  .inputSkills {
	display: inline-flex;
	padding: 8px 32px 14px 15px;
	align-items: center;
	border-radius: 20px;
	background: #FFF;
	width: 100%;
	height: 63px;
  }

  .inputSkills::placeholder {
	color: #5775CD;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	white-space: normal;
  }
}
