@import '../../styles/mixins';

.container {

  margin-top: 50px;
  
  h2 {
	margin-bottom: 50px;

  }

  .scroll::-webkit-scrollbar {
	visibility: hidden;
  }

  .scroll {
	overflow-x: scroll;
	display: flex;
	gap: 20px;


	.windowDate {
		@include date;
	}
	
    .dateRecruiter {
       @include date;
	   border: none;  
	}

	.selectedDate {
		background-color: rgba(255, 200, 73, 1);
	}

  }

  .blockTime {
	margin-top: 1rem;
	display: flex;
	gap: 30px;

	.time {
	  padding: 10px;
	  border-radius: 10px;
	  border: 1px solid black;
	  white-space: nowrap;
      background-color: white;
	}

	.timeRecruiter {
		@include time;
		border: none;
		width: 21%;
	}

	.selectedTime {
		background-color: rgba(255, 200, 73, 1);
	}
  }

  button {
	margin-top: 50px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
  }

}

.containerRecruiter {
	background-color:  rgba(118, 92, 248, 0.8);
	border-radius: 20px;
	margin: auto;
	height: 222px;
	padding: 15px;
  }
