@import '../../../styles/mixins.scss';

.container {
    @include container;
}

.overlay {
    @include overlay;
}

.login__container {
    width: 424px;
    height: fit-content;
    padding: 20px;
    // background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 200, 73, 1);
    margin: auto;
    z-index: 2;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.form-input {
    @include input;
    width: 72%;
    height: 29px;
    gap: 0;
    opacity: 0;
    margin:auto;
    // background: rgba(252, 252, 252, 1);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    // font-weight: 700;
    line-height: 21.86px;
    text-align: left;
    padding-left: 10px;
    color: rgba(182, 180, 180, 1);
    margin-bottom: 20px
}

.input-error {
    @include input-error;
}

button {
    @include button;
    margin-bottom: 10px;
    width: fit-content;
}

.enter-error {
    @include enter-form-error;
}
