.card {
    background: rgba(84, 51, 246, 0.7);
    width: 40%;
    height: 222px;
    border-radius: 20px;
    display: flex;
    // padding: 40px 20px;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    align-items: start;
    &-info {
        display: flex;
	    flex-direction: column;
	    gap: 20px;
        width: 57%;
        align-items: start;
        &__text {
            width: 100%;
            height: 42px;
            border-radius: 20px;
            background: rgba(255, 255, 255, 1);
            padding: 7px;
            color: rgba(87, 117, 205, 1);
            font-size: 20px;
            font-weight: 700;
            line-height: 27.32px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: all;
        }
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgba(118, 92, 248, 0.8);
    border-radius: 20px;
    width: 1148px;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.containerCard {
    border-radius: 20px;
    background: rgba(255, 200, 73, 0.80);
    display: flex;
    padding: 40px 20px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;


    .blockForm {
      display: flex;
      flex-direction: column;
      gap: 20px;


    //   input {
    //     color: #5775CD;
    //     font-size: 20px;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: normal;
    //     border-radius: 20px;
    //     background: #FFF;
    //     padding: 15px;
    //     border: none;
    //     width: 250px;

    //   }

      .inputName {
        width: 520px;
      }

      .blockNetwork {
        display: flex;
        gap: 15px;
        justify-content: center;
      }

    }

}

.responseCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%
}

button {
	cursor: pointer;
	background-color: #5775CD;
	padding: 10px 35px;
	border: none;
    color: rgba(255, 255, 255, 1);
}

.blockIcons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
