

.container {
  border-radius: 20px;
  background: rgba(85, 62, 147, 0.60);
  padding: 10px;

  button {
    cursor: pointer;
    width: 236px;
    color: #5775CD;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 20px;
    background: #FFF;
    border: none;
    text-align: center;
  }
}
